:root {
  --unity-gray: #222C37;
  --unity-mint: #00cccc;
  --unity-codeblock-bg: #2d2d2d;
  --unity-codeblock-text-color : #fff;
  --primary: var(--unity-gray);
  --content-link-color: #b83c82;

}

img.shard-left {
  margin-left: auto;
}

img.shard-right {
  margin-right: auto;
}

img.sidebar-logo {
  width: 100%;
  margin-left: -5px;
}

.flexsearch-container {
  background-color: var(--unity-mint);
  .form-control {
    border: 0px solid var(--primary);
    font-size: 1.2rem;
    background-color: var(--white);
    border-radius: 0px;
  }
}

.search-btn-override{
  width: 50%;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
body {
  font-size: 0.875rem;
}

code[class*="language-"],
pre[class*="language-"] {
  color: var(--unity-codeblock-text-color) !important;
  background: var(--unity-codeblock-bg) !important;
}

div.code-toolbar {
  background: var(--unity-codeblock-bg);
  border-radius: 0px;
}

//.docs-content
.docs-content .main-content a {
  font-weight: 400;
  color: var(--content-link-color);
  text-decoration: underline 1.5px var(--content-link-color);
  text-underline-offset: 2px !important;
  text-decoration-skip-ink: none;

  &:hover {
    text-decoration: underline 1.5px var(--content-link-color);
    text-underline-offset: 2px !important;
    transition: 0s !important;
  }
}